{{titre}}
<nav>
  <ul>
    <li><a routerLink="/liste-forfaits" routerLinkActive="active">Liste des forfaits</a></li>
    <li><a routerLink="/liste-forfaits/Mexique" routerLinkActive="active">Liste des forfaits mexicains</a></li>
    <li><a routerLink="/liste-forfaits/Cuba" routerLinkActive="active">Liste des forfaits cubains</a></li>
    <li><a routerLink="/a-propos" routerLinkActive="active">À propos</a></li>
    <li><a routerLink="/administration" routerLinkActive="active">Administration des forfaits</a></li>
  </ul>
</nav>
